<div class="card">
  <div class="main">
    <div class="title">{{data.main.title}}</div>
    <div class="title">{{data.main.title2}}</div>
  </div>


  <div>
    <div class="title">{{data.sub1.title}}</div>
    <div class="main-text">{{data.sub1.value}}</div>
  </div>

  <div>
    <div class="title">{{data.sub2.title}}</div>
    <div class="main-text">{{data.sub2.value}} </div>
  </div>

  <div>
    <div class="title">{{data.sub3.title}}</div>
    <div class="main-text">{{data.sub3.value}}</div>
  </div>

  <div class="icon">icon</div>
</div>
