.card{
  min-width: 300px;
  justify-content: space-between;
  padding-right: 20%;
  box-sizing: border-box;
  >.main {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }


}
