*{
  font-size: 14px;
  font-family: Helvetica;
}

$background_color: #DEE5EF;
$primary_color: #072956;
$bright_color: #02FFFF;
$success_color: #5DB75D;
$container_radius: 10px;
$accent1: #D0101D;

@mixin goButton{
  color: rgba(white, .8);
  background-color: $success_color;
  border: none;
  border-radius: 5px;
}

@mixin label_input{
  span{
    display: block;
  }
  input{
    display: block;
    border-radius: 5px;
    border: 1px #ccc solid;
    padding: 10px;

    &::placeholder{
      font-size: 12px;
    }
  }
}
