<section>
  <form>
    <label for="programme">
      <span>Programme</span>
      <input id="programme" type="text" placeholder="Select Programme">
    </label>
    <label for="projectOwner">
      <span>Project Owner</span>
      <input id="projectOwner" type="text" placeholder="Select Project Owner">
    </label>
    <label for="projectType">
      <span>Project Type</span>
      <input id="projectType" type="text" placeholder="Select Project Type">
    </label>

    <label for="governancePhase">
      <span>Governance Phase</span>
      <input id="governancePhase" type="text" placeholder="Select Governance Phase">
    </label>


    <button>Search</button>
  </form>
</section>
